# Cargo Config Toml

[target.'cfg(target_os = "linux")']
# Configure Mold Linker
# Moldpath "{{ lookPath "mold" }}"
{{ if lookPath "mold" }}
{{ if lookPath "clang" }}
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=mold"]
{{else}}
rustflags = ["-C", "link-arg=-fuse-ld=mold"]
{{end}}
{{else}}
# Mold not found
{{end}}
