{{ if or
(eq .chezmoi.osRelease.id "arch")
(eq .chezmoi.osRelease.idLike "arch") -}}
#!/bin/sh
sudo pacman -Syu \
bat fd exa starship kitty \
pass gopass xclip \
vim neovim \
ansible \
restic chezmoi pre-commit \
inkscape krita \
timew task httpie jq \
obs-studio v4l2loopback-dkms \
mutt portmidi


{{ if lookPath "paru" }}
echo 'paru bereits installiert'
{{else}}
(
  cd '{{.chezmoi.homedir}}'
  sudo pacman -S --needed base-devel
  git clone https://aur.archlinux.org/paru.git
  cd paru
  makepkg -si
)
{{end}}

{{ if lookPath "mani" }}
echo 'mani bereits installiert'
{{ else }}
paru -Syu mani
{{ end -}}

{{ if lookPath "pamidicontrol" }}
echo 'pamidicontrol bereits installiert'
{{ else }}
go install github.com/solarnz/pamidicontrol@latest
{{ end -}}

if [[ ! -d '/opt/Citrix/' ]] ; then
paru -Syu icaclient
fi

{{ else if or
    (contains .chezmoi.osRelease.id "ubuntu")
    (contains .chezmoi.osRelease.id "debian")
    (and .chezmoi.osRelease.idLike (contains .chezmoi.osRelease.idLike "ubuntu"))
    (and .chezmoi.osRelease.idLike (contains .chezmoi.osRelease.idLike "debian")) -}}


#!/bin/sh
sudo apt install neovim vim \
kitty zsh wl-clipboard \
fd-find exa \
restic ansible \
pre-commit mutt libportmidi-dev

{{ if lookPath "starship" }}{{else}}
curl -sS https://starship.rs/install.sh | sh
{{end}}

{{ if lookPath "mani" }}
echo 'mani bereits installiert'
{{ else }}
curl -sfL https://raw.githubusercontent.com/alajmo/mani/main/install.sh | sh
{{ end -}}

{{ if lookPath "go" }}
{{ if lookPath "midi2key-ng" }}
echo 'midi2key-ng bereits installiert'
{{ else }}
go install -v github.com/m10x/midi2key-ng@latest
{{ end -}}
{{ end -}}



{{ else if eq .chezmoi.os "darwin" -}}
echo '{{.chezmoi.os}} is not implemented'
{{ else }}
echo '{{.chezmoi.osRelease.idLike}} is not implemented'
{{ end -}}
