[Unit]
Description=Worship
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/root/skripte/
ExecStart=/root/skripte/evening.sh


[Install]
WantedBy=default.target
