[Unit]
Description=Worship
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/triantium/skripte/
ExecStart=/home/triantium/skripte/fun/worship.sh


[Install]
WantedBy=default.target
