# authentication
user = "{{ if lookPath "pass" }}{{ ( passFields "accounts/last.fm").login  }}{{end}}"
key = "{{ if lookPath "pass" }}{{ ( passFields "accounts/last.fm").token  }}{{end}}"

# regular expressions for name parsers
format-localfile = "^(?A.+) - (?T.+)\.[^.]+$"
format-shoutcast = "^(?A.+) - (?T.+)$"
format-coverfile = "^folder\.jpg$"

now-playing-localfile = "yes"
now-playing-shoutcast = "yes"
submit-localfile = "yes"
submit-shoutcast = "yes"
notification = "no"

# scrobbling service
service-api-url = "https://ws.audioscrobbler.com/2.0/"
service-auth-url = "https://www.last.fm/api/auth"
