{{- $email := promptString "email" -}}
{{- $fullname := promptString "fullname" -}}
{{- $keyboardLayout := promptString "kbdLayout us|de" -}}
{{- $keyboardVariant := promptString "kbdVersion altgr-intl|basic" -}}

[diff]
    format = "git"
[sourceVCS]
    autoCommit = true
    autoPush = true

[data]
    home = {{- .chezmoi.homeDir | quote -}}
    email = {{ $email | quote }}
    fullname = {{ $fullname | quote }}
    keyboardLayout = {{ $keyboardLayout | quote }}
    keyboardVariant = {{ $keyboardVariant | quote }}
