[user]
	name = Manuel Müller
	email = {{ .email }}
[color]
	ui = auto
[core]
	quotepath = false
	excludesfile = {{ .home }}/.gitignore
[commit]
        gpgSign = false
[tag]
	forceSignAnnotated = false
[gpg]
	program = /bin/gpg
[alias]
  graph = log --graph --pretty=short --abbrev-commit --date relative
  graphdate = log --graph --pretty=short --abbrev-commit
  daily = log --author='{{ .email }}' --since '1 day ago' --oneline
  bidaily = log --author='{{ .email }}' --since '36 hours ago' --oneline
  weekly = log --author='{{ .email }}' --since '1 week ago' --oneline
  pushnotes = push origin refs/notes/*:refs/notes/*
  project-summary = !which onefetch && onefetch
  appraise = !{{ .home }}/go/bin/git-appraise

[cola]
 	spellcheck = false
[push]
	default = current
[pull]
  rebase = false

[init]
  templateDir = {{ .home }}/.config/git/template

{{if (eq .chezmoi.hostname "valkyrie")}}
[filesystem "Azul Systems, Inc.|11.0.8|/dev/mapper/data-root"]
  timestampResolution = 20000 nanoseconds
  minRacyThreshold = 6681 microseconds
{{end}}

[filesystem "Oracle Corporation|13|/dev/sda3"]
	timestampResolution = 14000 nanoseconds
	minRacyThreshold = 6844 microseconds
{{if (eq .chezmoi.hostname "valkyrie")}}
{{end}}
