[user]
	name = Manuel Müller
	email = {{ .email }}
# signingKey = ***REMOVED***
[color]
	ui = auto
[core]
	quotepath = false
	excludesfile = {{ .home }}/.gitignore
[commit]
        gpgSign = false 
  #.gitGpgSign
[tag]
	forceSignAnnotated = false
[gpg]
	program = /bin/gpg
[alias]
  graph = log --graph --pretty=short --abbrev-commit --date relative
  graphdate = log --graph --pretty=short --abbrev-commit
  daily = log --since '1 day ago' --oneline
  weekly = log --since '1 week ago' --oneline
  pushnotes = push origin refs/notes/*:refs/notes/*
[filesystem "Oracle Corporation|13|/dev/sda3"]
	timestampResolution = 14000 nanoseconds
	minRacyThreshold = 6844 microseconds
[filesystem "Oracle Corporation|11.0.7|/dev/mapper/data-root"]
	timestampResolution = 8000 nanoseconds
	minRacyThreshold = 4500 microseconds
[cola]
	spellcheck = false
[push]
	default = current
