OCO_OPENAI_API_KEY={{ pass "token/openai.com" }}
#OCO_OPENAI_MAX_TOKENS=<max response tokens from openAI API>
#OCO_OPENAI_BASE_PATH=<may be used to set proxy path to openAI api>
OCO_DESCRIPTION=true
OCO_EMOJI=true
OCO_MODEL=gpt-3.5-turbo
OCO_LANGUAGE=en
