

alias cpuavail='cat /sys/devices/system/cpu/cpu*/cpufreq/scaling_available_governors'
alias cpushow='cat /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor'
alias cpuhigh='echo performance | doas tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor'
alias cmux='tmux attach-session -t cmus || tmux new-session -A -D -s cmus "$(which cmus)"'
# alias cmus='tmux new-session -A -D -s cmus "$(which cmus)"'
alias ng="yarn run ng"
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'


{{ if lookPath "whipper" }}
{{else}}
alias whipper="docker run -ti --rm --device=/dev/cdrom \
    --mount type=bind,source={{joinPath .chezmoi.homeDir ".config/whipper"}},target=/home/worker/.config/whipper \
    --mount type=bind,source={{joinPath .chezmoi.homeDir "/whipper" }},target=/whipper \
    --mount type=bind,source={{joinPath .chezmoi.homeDir "/output"}},target=/output \
    whipperteam/whipper"
{{end}}


{{ if lookPath "kitten" }}
alias imgcat="kitty +kitten icat"
if [[ $TERM == "xterm-kitty" ]] ; then
  alias ssh="kitty +kitten ssh"
fi
{{end}}

{{ if lookPath "alacritty" }}
if [[ $TERM == "alacritty" ]] ; then
  alias ssh='TERM=xterm-256color ssh'
fi
{{end}}

{{ if lookPath "kitten" }}alias kssh="kitty +kitten ssh"{{end}}
{{ if lookPath "alacritty" }}alias ssh='TERM=xterm-256color ssh'{{end}}

function changeRefreshRate(){
  xrandr --output DP-1 --mode "1920x1080" -r 144.0
}

{{ if lookPath "kubectl" }}
ns () {
  kubectl config set-context --current --namespace=$1
}
alias k="kubectl"
{{end}}

{{ if lookPath "youtube-dl" }}
function ydl () { youtube-dl --no-progress ${1} & }
{{end}}

{{if lookPath "docker"}}
alias dockerKill='docker stop $(docker ps -aq) && docker rm $(docker ps -aq) docker rmi $(docker images -q)'
{{end}}

{{ if lookPath "nerdctl" }}
alias docker="nerdctl"
{{end}}

