# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.
# the files are located in the bash-doc package.

# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
#umask 022

# if running bash
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "{{joinPath .chezmoi.homeDir ".bashrc"}}" ]; then
	. "{{joinPath .chezmoi.homeDir ".bashrc"}}"
    fi
fi

{{ if lookPath "ssh-agent" }}
#start ssh-agent
if [ -x "$(command -v ssh-agent)" ]; then
  eval `ssh-agent -s`
fi
{{ end }}

# Setting PATH according to given directories, if present

if [ -d "{{joinPath .chezmoi.homeDir "go/bin"}}" ] ; then
    PATH="{{joinPath .chezmoi.homeDir "go/bin:$PATH"}}"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "{{joinPath .chezmoi.homeDir "bin"}}" ] ; then
    PATH="{{joinPath .chezmoi.homeDir "bin:$PATH"}}"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "{{joinPath .chezmoi.homeDir ".local/bin"}}" ] ; then
    PATH="{{joinPath .chezmoi.homeDir ".local/bin:$PATH"}}"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "{{joinPath .chezmoi.homeDir ".cargo/bin"}}" ] ; then
    PATH="{{joinPath .chezmoi.homeDir ".cargo/bin:$PATH"}}"
fi

# $.local/share/flatpak/exports/bin

# set PATH so it includes user's private bin if it exists
if [ -d "{{joinPath .chezmoi.homeDir ".local/share/flatpak/exports/bin"}}" ] ; then
    PATH="{{joinPath .chezmoi.homeDir ".local/share/flatpak/exports/bin:$PATH"}}"
fi

# set PATH, if Jetbrains Toolbox exports the fracking binarys
if [ -d "{{joinPath .chezmoi.homeDir ".local/share/JetBrains/Toolbox/scripts"}}" ] ; then
    PATH="{{joinPath .chezmoi.homeDir ".local/share/JetBrains/Toolbox/scripts:$PATH"}}"
fi

{{ if lookPath "nvim" }}
  export EDITOR=nvim
{{ else if lookPath "vim" }}
  export EDITOR=vim
{{ else if lookPath "vi" }}
  export EDITOR=vi
{{end}}


{{ if lookPath "pass" }}
export RESTIC_REPOSITORY="{{ ( passFields "backup/restic").repository }}"
# export RESTIC_PASSWORD_FILE="{{joinPath .chezmoi.homeDir ".config/restic/password"}}"
export RESTIC_PASSWORD_COMMAND='bash -c "pass backup/restic | head -n 1 | tr -d '\n' "'
export RESTIC_FILES="{{joinPath .chezmoi.homeDir ".config/restic/files"}}"
export RESTIC_REPOSITORY="{{ ( passFields "backup/restic").repository }}"
{{end}}

export UNCRUSTIFY_CONFIG="{{joinPath .chezmoi.homeDir ".config/uncrustify/.uncrustify"}}"

export LANG=en_US.UTF-8

if [ -d "{{joinPath .chezmoi.homeDir ".poetry/bin:$PATH"}}" ] ; then
  export PATH="{{joinPath .chezmoi.homeDir ".poetry/bin:$PATH"}}"
fi


monitors=$(/opt/Citrix/ICAClient/wfica -span h)


#export WFICA_OPTS="-span a"

# Setting for breezy Vulkan

export ENABLE_VKBASALT='1'

# Added by Toolbox App
export PATH="$PATH:/home/triantium/.local/share/JetBrains/Toolbox/scripts"
