[drive:hp%20%20%20%20%20%20%3ADVDRW%20%20DU8A6SH%20%20%3ADH61]
vendor = hp
model = DVDRW  DU8A6SH
release = DH61
defeats_cache = True
read_offset = 6

[drive:Slimtype%3ADVD%20A%20%20DS8A5S%20%20%20%3AWC22]
vendor = Slimtype
model = DVD A  DS8A5S
release = WC22
defeats_cache = True
read_offset = 6

