{{- $folders := list  ".config/discord/" ".config/chromium/"
".config/JetBrains/" ".config/obsidian" ".config/Insync"
".config/EmuDeck" ".config/eDEX-UI"
".config/Code" ".config/anytype" ".config/teams-for-linux"
 -}}
{{- range  $folders }}
{{- if (joinPath $.chezmoi.homeDir . | lstat) }}
{{ joinPath $.chezmoi.homeDir . }}
{{- end -}}
{{ end }}
{{ joinPath $.chezmoi.homeDir "projects/**/target" }}
{{ joinPath $.chezmoi.homeDir ".config/**/Cache" }}
.dtrash
.stversions
.trashed-*
