{{- $folders := list  ".config" ".gnupg"
".minecraft" ".password-store" ".ssh"
".task" ".taskrc" ".timewarrior" "Bilder" "Pictures"
"Dokumente" "Documents" "Schreibtisch"
"Desktop" "backups" "projects" "Zotero" -}}
{{- range  $folders }}
{{- if (joinPath $.chezmoi.homeDir . | lstat) }}
{{ joinPath $.chezmoi.homeDir . }}
{{- end -}}
{{- end -}}
