{{ .chezmoi.homedir }}/.config
{{ .chezmoi.homedir }}/.minecraft
{{ .chezmoi.homedir }}/.password-store
{{ .chezmoi.homedir }}/.task
{{ .chezmoi.homedir }}/.taskrc
{{ .chezmoi.homedir }}/.timewarrior
{{ .chezmoi.homedir }}/Bilder
{{ .chezmoi.homedir }}/Desktop
{{ .chezmoi.homedir }}/Dokumente
{{ .chezmoi.homedir }}/Schreibtisch
{{ .chezmoi.homedir }}/backups
{{ .chezmoi.homedir }}/future4retail
{{ .chezmoi.homedir }}/fablab
{{ .chezmoi.homedir }}/geekinbusiness
{{ .chezmoi.homedir }}/projects
{{ .chezmoi.homedir }}/skripte
