{{ .chezmoi.homeDir }}/.config
{{ .chezmoi.homeDir }}/.gnupg
{{ .chezmoi.homeDir }}/.minecraft
{{ .chezmoi.homeDir }}/.password-store
{{ .chezmoi.homeDir }}/.ssh
{{ .chezmoi.homeDir }}/.task
{{ .chezmoi.homeDir }}/.taskrc
{{ .chezmoi.homeDir }}/.timewarrior
{{ .chezmoi.homeDir }}/Bilder
{{ .chezmoi.homeDir }}/Desktop
{{ .chezmoi.homeDir }}/Dokumente
{{ .chezmoi.homeDir }}/Schreibtisch
{{ .chezmoi.homeDir }}/backups
{{ .chezmoi.homeDir }}/future4retail
{{ .chezmoi.homeDir }}/fablab
{{ .chezmoi.homeDir }}/geekinbusiness
{{ .chezmoi.homeDir }}/projects
{{ .chezmoi.homeDir }}/skripte
