# general
set editor=vim

# imap
set my_name = "Manuel Müller"
set imap_user={{ if lookPath "pass" }}{{ ( passFields "accounts/mailbox.org").email  }}{{end}}
set imap_pass={{ if lookPath "pass" }}{{ pass "accounts/mailbox.org" }}{{end}}
set folder=imaps://{{ if lookPath "pass" }}{{ ( passFields "accounts/mailbox.org" ).imap  }}{{end}}
set spoolfile   = +INBOX
mailboxes       = +INBOX

# smtp
set smtp_pass = $imap_pass
set smtp_url=smtps://$imap_user@{{ if lookPath "pass" }}{{ ( passFields "accounts/mailbox.org").smtp }}{{end}}
set from = {{.chezmoi.hostname}}@triantium.de
set use_from = yes
set ssl_force_tls = yes
