configs:
  docker.io:
    auth:
      username: '{{ if lookPath "pass" }}{{ ( passFields "accounts/docker.com").login  }}{{end}}'
      password: '{{ if lookPath "pass" }}{{ pass "accounts/docker.com" }}{{end}}'
