{{ if lookPath "feishin" }}
[Desktop Entry]
Version=0.11.1
Type=Application
Name=Feishin
Name[de]=Feishin
GenericName=Music Player
Comment=Native Subsonic client for Linux
Exec=feishin
Icon=feishin
Terminal=false
Categories=AudioVideo;Audio;Music;
{{ end }}
