{{ if lookPath "keymapp" }}
[Desktop Entry]
Version=0.11.1
Type=Application
Name=ZSA Keymapp
Name[de]=ZSA Keymapp
GenericName=Utility
Comment=Tool for ZSA Keyboards
Exec=keymapp
Icon=keymapp
Terminal=false
Categories=Development;Settings;Utility;
{{ end }}
