[Desktop Entry]
Version=0.4.0
Type=Application
Name=Talon
Name[de]=Talon
GenericName=Speech Control
Comment=Voice Control
Exec={{ .chezmoi.homeDir }}/.local/bin/talon/run.sh
Icon={{ .chezmoi.homeDir }}/.local/bin/talon/logo.png
Terminal=false
Categories=Development;Office;System
