<settings>
  <mirrors>
    <mirror>
	<id>geekinbusiness-nexus</id>
	<name>Geek In Business Nexus</name>
        <url>https://nexus.geekinbusiness.de/repository/maven-public/</url>
	<mirrorOf>*</mirrorOf>
      </mirror>
    </mirrors>
  <servers>
    <server>
      <id>geekinbusiness-nexus</id>
      <username>manuel.mueller</username>
      <password>{{- pass "GiB/nexus.geekinbusiness.de" -}}</password>
    </server>
  </servers>
</settings>
