#!/bin/bash

set -x

# Kleines Skript um sich mit dem openvpn Client in das Fath Netzwerk einzuwählen.
# Voraussetzungen
#   - gopass
#   - openvpn
#   - config Datei wurde aus dem Passwordsstore unter "$XDG_CONFIG_HOME/openvpn/GeekInBusiness@Fath" abgelegt

# pass <(echo $user && echo $password)

#PASSWORD_STORE_DIR=${HOME}/.geek-password-store

set -euo pipefail

vpnsecret='geek/customers/fath/vpn'

#function init () {
#  gopass ${vpnsecret}/GeekInBusiness@217.6.214.250.conf >  "$XDG_CONFIG_HOME/openvpn/GeekInBusiness@Fath"
#  gopass ${vpnsecret}/GeekInBusiness@217.6.214.250-ca.pem > "${HOME}/.cert/nm-openvpn/GeekInBusiness@217.6.214.250-ca.pem"
#  gopass ${vpnsecret}/GeekInBusiness@217.6.214.250-cert.pem > "${HOME}/.cert/nm-openvpn/GeekInBusiness@217.6.214.250-cert.pem"
#  gopass ${vpnsecret}/GeekInBusiness@217.6.214.250-key.pem > "${HOME}/.cert/nm-openvpn/GeekInBusiness@217.6.214.250-key.pem"
#}


password=$(gopass -o "${vpnsecret}/password" | head -n 1 | tr -d '\n')
user=$(gopass "${vpnsecret}/password" | grep 'user: ' | sed 's/user: //g' | tr -d '\n')
password="${password}$(gopass -o otp ${vpnsecret}/password)"


auth=$(mktemp)

trap 'echo deleting $auth && rm -f $auth' EXIT

echo "${user}" > "${auth}"
echo "${password}" >> "${auth}"


#if [ -z "${XDG_CONFIG_HOME}" ] ; then
#  echo "Setting Config Home"
#  XDG_CONFIG_HOME="${HOME}/.config"
#fi

# cat "${auth}"

sudo openvpn --config '{{ joinPath .chezmoi.homeDir "/.config/openvpn/GeekInBusiness@Fath.conf"}}' \
  --auth-user-pass "${auth}" \
  --data-ciphers 'AES-256-CBC'
