#!/bin/bash

# shellcheck disable=SC2140
export RESTIC_REPOSITORY='{{ if lookPath "pass" }}{{ ( passFields "backup/restic").repository }}{{end}}'
export RESTIC_PASSWORD_FILE='{{joinPath .chezmoi.homeDir ".config/restic/password"}}'
# export RESTIC_PASSWORD_COMMAND="pass backup/restic | head -n 1 | tr -d '\n'"
unset RESTIC_PASSWORD_COMMAND
export RESTIC_FILES="{{joinPath .chezmoi.homeDir ".config/restic/files"}}"

backup_file=$(mktemp)

function finish {
  mutt -s "${SUBJECT}" triantium@mailbox.org < "${backup_file}"
  rm "${backup_file}"
}

trap finish EXIT

restic backup --files-from="${RESTIC_FILES}" |& tee "${backup_file}"

EXIT_CODE=$?

echo  "${EXIT_CODE}"
if [ "${EXIT_CODE}" == "0" ] ; then
  echo all clear;
  SUBJECT="Backup {{.chezmoi.hostname}}"
else
  echo fuck;
  SUBJECT="Error Backup {{.chezmoi.hostname}}"
fi
