[mounts]
	path = {{ .chezmoi.homeDir }}/.password-store
[mounts "geek"]
	path = {{ .chezmoi.homeDir }}/.local/share/gopass/stores/geek
[recipients]
       hash = 876e7c2e4aac512062881779f3fd496d06e2feb8634a5b5a2075dc9bf12ab241
# [mounts "infrastructure"]
#       path = /home/triantium/.local/share/gopass/stores/infrastructure
