[mounts]
	path = {{ .chezmoi.homeDir }}/.password-store
[mounts "geek"]
	path = {{ .chezmoi.homeDir }}/.local/share/gopass/stores/geek
[recipients]
       hash = 0f0ed2ecc9d120f86b9eee3990c1ee218f27c00095f9381c379306cb89d9ed8a
[mounts "infrastructure"]
       path = /home/triantium/.local/share/gopass/stores/infrastructure
